/* $Id:$ */

$gradient-progress-bar: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5c5c5f), color-stop(100%,#231f20));
$gradient-progress-bar-status: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5692a4), color-stop(100%,#4599b2));
$gradient-station-selected: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(51,126,148,1)));
$gradient-keypad-btn: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#305460), to(#3d8196));