/**
 * Common CSS for Sencha Touch 2.1 application pull-down menus.
 * @author lgreenway
 *
 * $Id: menu.scss 5883 2013-03-08 20:47:20Z lgreenway@qnx.com $
 */

// Menu default settings
$stacked-menu-max-visible-sub: 3 !default;
$stacked-menu-max-depth: 20 !default;

// Base measurements
$stacked-menu-height: ceil(395px * $y-multiplier);
$stacked-menu-width: 800px * $x-multiplier;
$stacked-menu-sub-indent: 70px * $x-multiplier;

// Asset-specific measurements
$stacked-menu-show-hide-height: 44px * $y-multiplier;
$stacked-menu-sub-shadow-width: 10px * $x-multiplier;

body[data-currentProfile=mid] .menu-sub { -webkit-transition: none !important; }

.menu-show {
	background-repeat: no-repeat;
	background-image: url(#{$theme-common-img-dir}/menu/menu_exp.png);
	height: $stacked-menu-show-hide-height;
	width: 100%;
	
	&:active {
		background-image: url(#{$theme-common-img-dir}/menu/menu_exp_ovr.png);
	}
}

.menu-hide {
	background-repeat: no-repeat;
	background-image: url(#{$theme-common-img-dir}/menu/menu_collapse.png);
	height: $stacked-menu-show-hide-height;
	width: 100%;
	
	&:active {
		background-image: url(#{$theme-common-img-dir}/menu/menu_collapse_ovr.png);
	}
}

.stacked-menu {
	height: $stacked-menu-height; 
	width: $stacked-menu-width;
	background-color: $background-color;
	border: none;

	// Shift sub-menus to the left once the maximum number of stacked menus has been exceeded
	$depth: $stacked-menu-max-visible-sub + 1;
	@while $depth <= $stacked-menu-max-depth {
		&.depth#{$depth} .menu.sub {
			-webkit-transform: translate3d(-($stacked-menu-sub-indent * ($depth - $stacked-menu-max-visible-sub)), 0px, 0px);
		}
		$depth: $depth + 1;
	}
	
	.menu {
		position: absolute;
		height: $stacked-menu-height !important; 
		width: $stacked-menu-width;
		padding: 0px;
		overflow: hidden;
		background-image: none;
		background-color: transparent;
		border: none;
		z-index: 6;
	
		&.sub {
			background-repeat: repeat-y;
			background-image: url(#{$theme-common-img-dir}/menu/menu_shadow.png);
			padding-left: $stacked-menu-sub-shadow-width;
			-webkit-transition: -webkit-transform 350ms ease-in-out;
			-webkit-transform: translate3d(0px, 0px, 0px);

			// Define the sub-menu levels
			$level: 1;
			@while $level <= $stacked-menu-max-depth {
				&.level#{$level} {
					// The width of the menu is dependant on its level
					@if $level <= $stacked-menu-max-visible-sub {
						width: ($stacked-menu-width) - ($stacked-menu-sub-indent * $level);
					} @else {
						width: ($stacked-menu-width) - ($stacked-menu-sub-indent * $stacked-menu-max-visible-sub);
					}

					left: ($stacked-menu-sub-indent * $level);
					z-index: 6 + ($level);
					
					// Performance hack for Sencha list rendering
					.menu-list {
						@if $level <= $stacked-menu-max-visible-sub {
							width: ($stacked-menu-width) - ($stacked-menu-sub-indent * $level);
						} @else {
							width: ($stacked-menu-width) - ($stacked-menu-sub-indent * $stacked-menu-max-visible-sub);
						}
					}
				}
				$level: $level + 1;
			}
					
			&.hidden {
				-webkit-transform: translate3d($stacked-menu-width, 0px, 0px);
			}
		}
		
		// For menus which have toolbars
		.x-dock {
			position: relative;
		}
		
		.menu-list {
			height: $stacked-menu-height;
			width: $stacked-menu-width;
			background-color: $background-color;
		}
		
		.x-mask {
			height: $stacked-menu-height;	// HACK: The mask has a height of 0 if the contents of the menu contains a docked item
			-webkit-transition-property: opacity, visibility;
			-webkit-transition-duration: 350ms;
			-webkit-transition-timing-function: linear;
			background: black;
			opacity: 0.8;
			
			&.hidden {
				opacity: 0;
				visibility: hidden;
			}
		}
	}
}


.pull-down-menu {
	height: $stacked-menu-height;
	width: $stacked-menu-width;
	-webkit-transition: -webkit-transform 500ms ease-in-out;
	-webkit-transform: translateY(-$stacked-menu-height);
	
	&.show {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}

	.menu-list {
		.x-list-inner {
			.x-scroll-container {
				.x-scroll-scroller {
					padding-bottom: 40px * $y-multiplier;
				}
			}
		}
	}
}