$keyboardTap:			rgba(255,255,255,0.5);

$specialBackground:		-webkit-linear-gradient(top, #808080 26%, #555555 68%, #3c3c3c 87%);
$letterBackground:		-webkit-linear-gradient(bottom, #418ca1 30%, #2f4b56 100%);
$serviceBackground:		-webkit-linear-gradient(top, #2e474e 30%, #242427 100%);
$numberBackground:		-webkit-linear-gradient(bottom, #ffffff 26%, #f0f0f0 68%, #d6d6d6 87%);
$containerBackground:	-webkit-linear-gradient(bottom, #15151f 0%, #16353d 50%, #242427 100%);
$activeBackground:		-webkit-linear-gradient(bottom, #47bbd0 30%, #567f8f 100%);
