/* Home Screen */

$loading: 				url("#{$img-dir}/loading.png");
$loadingOverlay: 		url("#{$img-dir}/loadingOverlay.png");
$alertBanner:			url("#{$img-dir}/alert_banner.png");
$alertX:				url("#{$img-dir}/alert_x.png");
$voiceBkgrd:			url("#{$img-dir}/voice_bkgrd.png");
$voiceDude:				url("#{$img-dir}/voice_dude.png");
