/* $Id:$ */

$gradient-progress-bar: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5c5c5f), color-stop(100%,#231f20));
$gradient-progress-bar-status: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAAF40), color-stop(100%,#DF8D26));
$gradient-station-selected: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,#DF8D26));
$gradient-keypad-btn: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000), to(#000));