
.menu-image-search {
	background-image: $menu-image-search;
}
.menu-image-poi {
	background-image: $menu-image-poi;
}
.menu-image-favourites {
	background-image: $menu-image-favourites;
}
.menu-image-history {
	background-image: $menu-image-history;
}
.menu-image-map {
	background-image: $menu-image-map;
}
.menu-image-settings {
	background-image: $menu-image-settings;
}

/* Settings */

.menu-image-route {
	background-image: $menu-image-route;
}
.menu-image-language {
	background-image: $menu-image-language;
}
.menu-image-units {
	background-image: $menu-image-units;
}

/* POI Categories */

.menu-image-accomodation {
	background-image: $menu-image-accomodation;
}
.menu-image-atm {
	background-image: $menu-image-atm;
}
.menu-image-attraction {
	background-image: $menu-image-attraction;
}
.menu-image-church {
	background-image: $menu-image-church;
}
.menu-image-conference {
	background-image: $menu-image-conference;
}
.menu-image-hospital {
	background-image: $menu-image-hospital;
}
.menu-image-library {
	background-image: $menu-image-library;
}
.menu-image-mall {
	background-image: $menu-image-mall;
}
.menu-image-museum {
	background-image: $menu-image-museum;
}
.menu-image-park {
	background-image: $menu-image-park;
}
.menu-image-parking {
	background-image: $menu-image-parking;
}
.menu-image-pharmacy {
	background-image: $menu-image-pharmacy;
}
.menu-image-public {
	background-image: $menu-image-public;
}
.menu-image-restaurant {
	background-image: $menu-image-restaurant;
}
.menu-image-sports {
	background-image: $menu-image-sports;
}
.menu-image-transportation {
	background-image: $menu-image-transportation;
}
.menu-image-zoo {
	background-image: $menu-image-zoo;
}


/* Selected Images */

.x-list-item.menu-selected {
	/* Root */

	.menu-image-search {
		background-image: $menu-image-search-over;
	}
	.menu-image-poi {
		background-image: $menu-image-poi-over;
	}
	.menu-image-favourites {
		background-image: $menu-image-favourites-over;
	}
	.menu-image-history {
		background-image: $menu-image-history-over;
	}
	.menu-image-map {
		background-image: $menu-image-map-over;
	}
	.menu-image-settings {
		background-image: $menu-image-settings-over;
	}

	/* Settings */

	.menu-image-route {
		background-image: $menu-image-route-over;
	}
	.menu-image-language {
		background-image: $menu-image-language-over;
	}
	.menu-image-units {
		background-image: $menu-image-units-over;
	}
	
	/* POI Categories */

	.menu-image-accomodation {
		background-image: $menu-image-accomodation-over;
	}
	.menu-image-atm {
		background-image: $menu-image-atm-over;
	}
	.menu-image-attraction {
		background-image: $menu-image-attraction-over;
	}
	.menu-image-church {
		background-image: $menu-image-church-over;
	}
	.menu-image-conference {
		background-image: $menu-image-conference-over;
	}
	.menu-image-hospital {
		background-image: $menu-image-hospital-over;
	}
	.menu-image-library {
		background-image: $menu-image-library-over;
	}
	.menu-image-mall {
		background-image: $menu-image-mall-over;
	}
	.menu-image-museum {
		background-image: $menu-image-museum-over;
	}
	.menu-image-park {
		background-image: $menu-image-park-over;
	}
	.menu-image-parking {
		background-image: $menu-image-parking-over;
	}
	.menu-image-pharmacy {
		background-image: $menu-image-pharmacy-over;
	}
	.menu-image-public {
		background-image: $menu-image-public-over;
	}
	.menu-image-restaurant {
		background-image: $menu-image-restaurant-over;
	}
	.menu-image-sports {
		background-image: $menu-image-sports-over;
	}
	.menu-image-transportation {
		background-image: $menu-image-transportation-over;
	}
	.menu-image-zoo {
		background-image: $menu-image-zoo-over;
	}
}
