/* unique key images */

$deleteKey: 			url("#{$img-dir}/delete.png");
$hideKey: 				url("#{$img-dir}/hide_key.png");
$keyBkgrd:				url("#{$img-dir}/key_bkgrd.png");
$langSelKey:			url("#{$img-dir}/lang_sel.png");
$moreKey:				url("#{$img-dir}/more.png");
$shiftKey:				url("#{$img-dir}/shift.png");
