/* $Id:$ */

$color-btn2-background: #347f95;
$color-btn2-border: #2e4c56;
$color-btn2-background-on: #283940;
$color-btn2-border-on: #53b4d1;
$color-modal-controls-border: #337e93;
$color-station-border-top: #000000;
$color-station-border-bottom: #337e93;
$color-keypad-key-border-top: #4c8699;
$color-keypad-key-border-bottom: #1f363d;
$color-station-scroll-track: #1f363d;
$color-station-scroll-drag: #4c8699;
