/* $Id:$ */

$img-body-background: 			url("#{$img-dir}/bkgrd_800x395.png");			// 1280x593
$img-branding-bar-background:	url("#{$img-dir}/bg-branding-800x58.png");		// 1920x89
$img-top-nav-background: 		url("#{$img-dir}/bg-topnav-800x52.png");		// 1920x80
$img-icon-top-nav-station-list:	url("#{$img-dir}/icon-stationlist-28x23.png");	// 28x23
$img-icon-top-nav-now-playing:	url("#{$img-dir}/icon-nowplaying-18x23.png");	// 18x23
$img-btn-def: 					url("#{$img-dir}/btn_def.png");					// 94x44
$img-icon-thumbs-up: 			url("#{$img-dir}/icon-thumbsup-28x28.png");		// 28x28
$img-icon-thumbs-up-on: 		url("#{$img-dir}/icon-thumbsup-on-28x28.png");	// 28x28
$img-icon-thumbs-down: 			url("#{$img-dir}/icon-thumbsdown-28x28.png");	// 28x28
$img-icon-thumbs-down-on: 		url("#{$img-dir}/icon-thumbsdown-on-28x28.png");// 28x28
$img-icon-play-pause: 			url("#{$img-dir}/icon-pause-28x28.png");		// 28x28
$img-icon-play-pause-on: 		url("#{$img-dir}/icon-play-28x28.png");			// 28x28
$img-icon-menu: 				url("#{$img-dir}/icon-menu-28x28.png");			// 28x28
$img-icon-skip: 				url("#{$img-dir}/icon-skip-28x28.png");			// 28x28
$img-icon-genres: 				url("#{$img-dir}/icon-genres-48x40.png");		// 48x40
$img-icon-cancel: 				url("#{$img-dir}/icon-cancel-34x35.png");		// 34x35
$img-icon-add-station: 			url("#{$img-dir}/icon-add-34x34.png");			// 34x34
