/* $Id:$ */

$color-btn2-background: #000;
$color-btn2-border: #FFF;
$color-btn2-background-on: #000;
$color-btn2-border-on: #FFF;
$color-modal-controls-border: #000;
$color-station-border-top: #000;
$color-station-border-bottom: #FFF;
$color-keypad-key-border-top: #FFF;
$color-keypad-key-border-bottom: #FFF;
$color-station-scroll-track: #FFF;
$color-station-scroll-drag: #000;
