.media-source-cd{
	background-image:  url(platform:///apps/common/img/720p/media_sources/24_CD.png);
}

.media-source-hdd{
	background-image:  url(platform:///apps/common/img/720p/media_sources/24_HDDef.png);
}

.media-source-hdupnp{
	background-image:  url(platform:///apps/common/img/720p/media_sources/24_HDUpnp.png);
}

.media-source-sd{
	background-image:  url(platform:///apps/common/img/720p/media_sources/24_SDCard.png);
}

.media-source-usb{
	background-image:  url(platform:///apps/common/img/720p/media_sources/24_USB.png);
}

.media-source-ipod{
	background-image:  url(platform:///apps/common/img/720p/media_sources/24_ipod.png);
}

.media-source-mobile{
	background-image:  url(platform:///apps/common/img/720p/media_sources/24_mobile.png);
}

.media-source-radio{
	background-image:  url(platform:///apps/common/img/720p/media_sources/24_radio.png);
}

.media-source-video{
	background-image:  url(platform:///apps/common/img/720p/media_sources/24_video.png);
}

.media-source-DLNA{
	background-image:  url(platform:///apps/common/img/720p/media_sources/DLNA_24.png);
}

