$body-background: 					url("#{$img-dir}/bkgrd_800x395.png") no-repeat scroll top left;
$app-bar:							url('#{$img-dir}/app_bar.png') repeat-x top left;
$app-bar-highlighted:				url('#{$img-dir}/app_bar_ovr.png') no-repeat top left;