/* BEGIN - Personalization */

body * {
	text-shadow: none;
	color: $text-color;
}

a {
	text-decoration: none;
}

#personalization {
	height: 100%;
	background: #000000 no-repeat top left;
	width: 800px * $x-multiplier;
	height: 395px * $y-multiplier;
	overflow: hidden;
}

#personalization .flexbox {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	height: 100%;
}

#personalization .containerProfileSelector {
	position: relative;
	display: block;
	width: 100px * $x-multiplier;
	height: 100%;
	background-color: #000000;
}
#personalization .containerProfileSelector .profileListWrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 50px * $y-multiplier;
	overflow: hidden;
}
#personalization .containerProfileSelector .profileList {
	position: absolute;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	-webkit-transition: all .25s linear;
}
#personalization .containerProfileSelector .profileList li {
	position: relative;
	display: block;
	width: 100%;
	height: 100px * $y-multiplier;
	background: transparent no-repeat top left;
	background-size: 100% 100%;
	opacity: .35;
	-webkit-transition: opacity .15s linear;
}
#personalization .containerProfileSelector .profileList li.selected {
	opacity: 1;
}
#personalization .containerProfileSelector .profileList li span {
	position: absolute;
	bottom: 9px * $y-multiplier;
	left: 4px * $x-multiplier;
	right: 4px * $x-multiplier;
	text-align: center;
	color: $text-color;
	font-size: 95%;
	overflow: hidden;
	height: 18px * $y-multiplier;
}
#personalization .containerProfileSelector .containerProfileCtrls {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px * $y-multiplier;
}
#personalization .containerProfileSelector .containerProfileCtrls .profileCtrl {
	display: inline-block;
	float: left; /* HACK - "inline-block" element is a whitespace dependent method and renders a 4px margin to the right of each element */
	width: 50%;
	height: 100%;
	background: transparent no-repeat top left;
}
#personalization .containerProfileSelector .containerProfileCtrls .ctrlAddProfile:active {
	background-position: 0 (-50px * $y-multiplier);
}
#personalization .containerProfileSelector .containerProfileCtrls .ctrlRemoveProfile {
	opacity: 1;
	-webkit-transition: opacity .25s linear;
}
#personalization .containerProfileSelector .containerProfileCtrls .ctrlRemoveProfile:active {
	background-position: 0 (-50px * $y-multiplier);
}
#personalization .containerProfileSelector .containerProfileCtrls .ctrlRemoveProfile.disabled,
#personalization .containerProfileSelector .containerProfileCtrls .ctrlRemoveProfile:disabled {
	background-position: 0 0;
	opacity: .5;
}

#personalization .containerProfileSettings {
	position: relative;
	-webkit-box-flex: 1;
	-webkit-box-sizing: border-box;
	padding: (30px * $y-multiplier) (40px * $x-multiplier) 0 (40px* $x-multiplier);
}

#personalization .containerProfileSettings form {
	width: 100%;
}

#personalization .containerProfileSettings form label,
#personalization .containerProfileSettings form .label {
	display: inline-block;
	text-shadow: none;
	color: $text-color;
	font-size: 125%;
	font-weight: normal;
	padding-bottom: 5px * $y-multiplier;
}

#personalization .containerProfileSettings .name {
	position: relative;
	width: 100%;
	height: 59px * $y-multiplier;
	border-bottom: (1px * $y-multiplier) solid #79898f;
	background-color: rgba(0, 0, 0, .2);
	-webkit-box-shadow: inset 0px (-4px * $x-multiplier) (13px * $y-multiplier) (1px * $x-multiplier) #000000;
	margin-bottom: 20px* $y-multiplier;
}
#personalization .containerProfileSettings .name input {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 20px * $x-multiplier;
	right: 60px * $x-multiplier;
	font-size: 200%;
	color: #ffffff;
	border: none;
	background: none;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	outline: none;
}
#personalization .containerProfileSettings .name .ctrlClearField {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -25px * $y-multiplier;
	width: 59px * $x-multiplier;
	height: 51px * $y-multiplier;
	background: transparent no-repeat top left;
}
#personalization .containerProfileSettings .name .ctrlClearField:active {
	background-position: 0 (-51px * $y-multiplier);
}

#personalization .containerProfileSettings .gridLayoutB {
	width: 100%;
	height: 100%;
}
#personalization .containerProfileSettings .gridLayoutB .gridBlockA,
#personalization .containerProfileSettings .gridLayoutB .gridBlockB {
	display: inline-block;
	margin-top: 20px * $y-multiplier;
	width: 47%;
}
#personalization .containerProfileSettings .gridLayoutB .gridBlockB {
	float: right;
}

#personalization .containerProfileSettings .gridLayoutB .gridBlockC,
#personalization .containerProfileSettings .gridLayoutB .gridBlockD {
	display: inline-block;
}
#personalization .containerProfileSettings .gridLayoutB .gridBlockC {
	margin-top: 40px * $y-multiplier;
	width: 58%;
}
#personalization .containerProfileSettings .gridLayoutB .gridBlockD {
	float: right;
	width: 36.5%;
	margin-top: 64px * $y-multiplier;
	margin-right: 10px * $x-multiplier;
}
#personalization .containerProfileSettings .gridLayoutB .gridBlockD .formCtrlButton {
	width: 100%;
}
#personalization .containerProfileSettings .gridLayoutB .gridBlockD .ctrlPhonePairing .ctrlLabel {
	font-size: 95%;
	line-height: 14pt * $y-multiplier;
	top: 14px * $y-multiplier;
	color: $button-text-color;
}
#personalization .containerProfileSettings .gridLayoutB .gridBlockD .ctrlPhonePairing .ctrlLabel:active {
	color: $active-button-text-color;
}
#personalization .containerProfileSettings .gridLayoutB .gridBlockD .formCtrlButton:first-child {
	left: 0;
}
#personalization .containerProfileSettings .gridLayoutB .gridBlockD .formCtrlButton:last-child {
	right: 0;
	font-family: $font-family-bold;
}

#personalization .modalForms {
	display: none;
}

#personalization .modalFrmMedia {
	
}
#personalization .frmVehicleSettings h3 {
	font-size: 125%;
	margin: 0;
	margin-bottom: 5px * $y-multiplier;
	padding: 0; 
}
#bladeContainer .modalFrame .innerWrapper .body .frmVehicleSettings label,
#bladeContainer .modalFrame .innerWrapper .body .frmVehicleSettings .label {
	font-size: 125%;
}
#personalization .frmVehicleSettings .indentBlock {
	display: -webkit-box;
	margin-left: 40px * $x-multiplier;
}
/* Personalization images*/

#personalization {
	background-image: $personalization-bg-main, $background;
}

#personalization .containerProfileSelector .profileList li {
	background-image: $personalization-avatar-male1;
}
#personalization .containerProfileSelector .profileList li.male2 {
	background-image: $personalization-avatar-male2;
}
#personalization .containerProfileSelector .profileList li.female1 {
	background-image: $personalization-avatar-female1;
}
#personalization .containerProfileSelector .profileList li.female2 {
	background-image: $personalization-avatar-female2;
}
#personalization .containerProfileSelector .containerProfileCtrls .ctrlAddProfile {
	background-image: $personalization-btn-profile-add;
}
#personalization .containerProfileSelector .containerProfileCtrls .ctrlRemoveProfile {
	background-image: $personalization-btn-profile-remove;
}
#personalization .containerProfileSettings .name .ctrlClearField {
	background-image: $personalization-btn-name-clear;
}

