/* Virtual Mechanic */
#virtualMechanic
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 800px * $x-multiplier;
	height: 395px * $y-multiplier;
	min-height: 395px * $y-multiplier !important;
	overflow: hidden;
	background: no-repeat top left, no-repeat top left;
}

#virtualMechanic div.systemStatusButtons
{
	float: left;
	position: relative;
	width: 260px * $x-multiplier;
	height: 375px * $y-multiplier;
	padding: (20px * $x-multiplier) (20px * $y-multiplier);
}

#virtualMechanic div.systemStatusButtons div.button
{
	float: left;
	width: 225px * $x-multiplier;
	height: 60px * $y-multiplier;
	margin-bottom: 13px * $y-multiplier;
	padding-left: 15px * $x-multiplier; 
	color: $text-color;
	line-height: 60px * $y-multiplier;
	font-size: 100%;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: none;
	background: no-repeat 0% 0%;
	background-size:200% 100%;
	cursor: pointer;
}
#virtualMechanic div.systemStatusButtons div.button:active { background-position: 100% 0%; color: $active-button-text-color; }
#virtualMechanic div.systemStatusButtons div.button div.icon { left: -5px * $x-multiplier; top: 6px * $y-multiplier; }
#virtualMechanic div.systemStatusButtons div.button:active div.icon { background-position: 100% 0%; }
#virtualMechanic div.icon { position: relative; display: inline-block; width: 24px * $x-multiplier; height: 24px * $y-multiplier; background-position: 0px 0px; }

#virtualMechanic div.button div.icon { 
	position: relative;
	display: inline-block;
	width: 24px * $x-multiplier;
	height: 24px * $y-multiplier;
	background-position: 0% 0%;
	background-size: 200% 100%;
}

#virtualMechanic div.fuelGauge
{
	position: absolute;
	right: 30px * $x-multiplier;
	top: 10px * $y-multiplier;
	width: 51px * $x-multiplier;
	height: 215px * $y-multiplier;
	background: no-repeat 0% 0%;
	background-size: 1000% 100%;
}
#virtualMechanic div.fuelGauge.level1 { background-position: 10% 0% }
#virtualMechanic div.fuelGauge.level2 { background-position: 20% 0% }
#virtualMechanic div.fuelGauge.level3 { background-position: 30% 0% }
#virtualMechanic div.fuelGauge.level4 { background-position: 40% 0% }
#virtualMechanic div.fuelGauge.level5 { background-position: 50% 0% }
#virtualMechanic div.fuelGauge.level6 { background-position: 60% 0% }
#virtualMechanic div.fuelGauge.level7 { background-position: 70% 0% }
#virtualMechanic div.fuelGauge.level8 { background-position: 80% 0% }
#virtualMechanic div.fuelGauge.level9 { background-position: 90% 0% }
#virtualMechanic div.fuelGauge.level10 { background-position: 100% 0% }

#virtualMechanic div.statsMaintenanceButtons	
{
	position: absolute;
	right: 0px;
	top: 230px * $y-multiplier;
	width: 230px * $x-multiplier;
	height: 144px * $y-multiplier;
	padding: 15px (15px * $y-multiplier);
}
#virtualMechanic div.statsMaintenanceButtons div.button
{
	float: left;
	width: 205px * $x-multiplier;
	height: 60px * $y-multiplier;
	margin-bottom: 10px * $y-multiplier;
	padding-left: 25px * $x-multiplier;
	/*Fix put in for midnight blue, otherwise colors will be wrong on the button*/ 
	color: $text-color;
	line-height: 60px * $y-multiplier;
	font-size: 100%;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: none;
	background: no-repeat 0% 0%;
	background-size: 200% 200%;
	cursor: pointer;
}
#virtualMechanic div.statsMaintenanceButtons div.button div.twoLineLabel { display: inline-block; position: relative; top: 7px * $y-multiplier; width: 140px * $x-multiplier; line-height: 15px * $y-multiplier; text-align: center; color: inherit;}
#virtualMechanic div.statsMaintenanceButtons div.button:active { background-position: 100% 0%; color: $active-button-text-color; }
#virtualMechanic div.statsMaintenanceButtons div.button div.icon { background-position: 0% 0%; left: -5px* $x-multiplier; top: 6px * $y-multiplier; }
#virtualMechanic div.statsMaintenanceButtons div.button:active div.icon { background-position: 100% 0%; }
/* Disabled states */
#virtualMechanic div.statsMaintenanceButtons div.button.disabled { background-position: 0% 100%; color: $button-disabled-color; }
#virtualMechanic div.statsMaintenanceButtons div.button.disabled div.icon { background-position: 100% 0%; }
#virtualMechanic div.statsMaintenanceButtons div.button.disabled div.twoLineLabel { color: inherit; }

/* Dialog */
#virtualMechanic div.dialog
{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 99;
	left: 0px;
	top: 0px;

	/* Center the dialog window */
	text-align: center;

	/* Hide the dialogs by default */
	visibility: hidden;

	-webkit-transition: visibility .25s linear;
}

#virtualMechanic div.dialog.visible
{
	visibility: visible;
	-webkit-transition: visibility 0s linear;
}

body[data-currentProfile=mid] #virtualMechanic div.dialog { -webkit-transition: none !important; }

#virtualMechanic div.dialog div.window
{
	position: relative;
	display: inline-block;
	top: 30px * $y-multiplier;
	width: 740px * $x-multiplier;
	height: 335px * $y-multiplier;
	z-index: 100;

	background: no-repeat 0% 0%;
	background-size: 100% 100%;
	
	text-align: left;

	-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);

	-webkit-transform: translate3d(0px, (15px * $y-multiplier), 0px);
	opacity: 0;

	-webkit-transition: -webkit-transform .25s ease-in-out, opacity .25s linear;
}
#virtualMechanic div.dialog.visible div.window
{
	-webkit-transform: translate3d(0px, 0px, 0px);
	opacity: 1;
}

body[data-currentProfile=mid] #virtualMechanic div.dialog div.window { -webkit-transition: none !important; }

#virtualMechanic div.dialog div.window div.titleBar
{
	height: 42px * $y-multiplier;
	
	font-size: 125%;
	/*Need to use the active text colour as the dialog background and text-color are both white*/
	color: $active-text-color;
	text-align: center;
	text-transform: uppercase;
	line-height: 42px * $y-multiplier;
}
#virtualMechanic div.dialog div.window div.titleBar div.icon { top: 5px * $y-multiplier; }
#virtualMechanic div.dialog div.window div.titleBar div.btnClose
{
	position: absolute;
	right: -20px * $x-multiplier;
	top: -20px * $y-multiplier;
	width: 82px * $x-multiplier;
	height: 82px * $y-multiplier;
	background: no-repeat 50% 50%;
	cursor: pointer;
}

	
#virtualMechanic div.dialog div.window div.content { position: relative; width: 100%; height: 293px * $y-multiplier; }

/* Fluid Level dialog */
#virtualMechanic div.dialog div.window div.content.fluidLevels { text-align: center; }
#virtualMechanic div.dialog div.window div.content.fluidLevels div.fluidGauge
{
	display: inline-block;
	width: 120px * $x-multiplier;
	height: 240px * $y-multiplier;
	padding-top: 20px * $y-multiplier;
	margin: 0px (10px * $x-multiplier);
}
#virtualMechanic div.dialog div.window div.content.fluidLevels div.fluidGauge div.title { width: 100%; height: 40px * $y-multiplier; color: $text-color; text-align: center; text-transform: uppercase; text-shadow: #000000 1px; }
#virtualMechanic div.dialog div.window div.content.fluidLevels div.fluidGauge div.display
{
	position: relative;
	left: 46px * $x-multiplier;
	width: 30px * $x-multiplier;
	height: 165px * $y-multiplier;
	margin: (10px * $y-multiplier) 0px (10px * $y-multiplier) 0px;
	background: repeat-y 0px 0px;
}
#virtualMechanic div.dialog div.window div.content.fluidLevels div.fluidGauge div.display div.bar
{
	position: absolute;
	bottom: 0px;
	left: 4px * $x-multiplier;
	width: 21px * $x-multiplier;
	height: 100%;
	max-height: 165px * $y-multiplier;

	opacity: 0.3;
	
	background-color: #00c4ff;

	-webkit-transform-origin: 100% 100%;
	-webkit-transition: -webkit-transform 0.25s ease-out;
}
#virtualMechanic div.dialog div.window div.content.fluidLevels div.fluidGauge div.statusIcon
{
	display: inline-block;
	width: 24px * $x-multiplier;
	height: 24px * $y-multiplier;
	background: no-repeat 0px 0px;
}

/* Warning statuses */
#virtualMechanic div.dialog div.window div.content.fluidLevels div.fluidGauge.caution div.display div.bar { background-color: #ffee00; }
#virtualMechanic div.dialog div.window div.content.fluidLevels div.fluidGauge.alert div.display div.bar { background-color: #ff000e; }
#virtualMechanic div.dialog div.window div.content.fluidLevels div.fluidGauge.caution div.statusIcon,

/* System Status dialogs */
#virtualMechanic div.dialog div.window div.content.systemStatus.traction { background: no-repeat 50% 50%; }
#virtualMechanic div.dialog div.window div.content.systemStatus.braking { background: no-repeat 50% 50%; }
#virtualMechanic div.dialog div.window div.content.systemStatus.powertrain { background: no-repeat 50% 50%; }
#virtualMechanic div.dialog div.window div.content.systemStatus.electrical { background: no-repeat 50% 50%; }

/* Small status arrows */
#virtualMechanic div.dialog div.window div.content.systemStatus div.statusArrow { position: absolute; width: 183px * $x-multiplier; height: 54px * $y-multiplier; padding: (13px * $y-multiplier) 0px (13px * $y-multiplier) (25px * $x-multiplier); }
#virtualMechanic div.dialog div.window div.content.systemStatus div.statusArrow.rear { background: no-repeat 0px 0px; }
#virtualMechanic div.dialog div.window div.content.systemStatus div.statusArrow.front { background: no-repeat 0px 0px; width: 173px * $x-multiplier; padding-left: 35px * $x-multiplier; }

/* Large status arrows (powertrain) */
#virtualMechanic div.dialog div.window div.content.systemStatus div.statusBoxLarge { position: absolute; width: 172px * $x-multiplier; height: 191px * $y-multiplier; padding: (10px * $y-multiplier) 0px (10px * $y-multiplier) (25px * $y-multiplier); background: no-repeat 0px 0px; }

#virtualMechanic div.dialog div.window div.content.systemStatus div.statusBoxLarge div.title
{
	width: 169px * $x-multiplier; 
	height: 35px * $y-multiplier;
	
	color: $dialog-title-color;
	text-align: center;
	font-size: 115%;
	line-height: 35px * $y-multiplier;
	text-shadow: none;
	text-transform: uppercase;
	
	margin-left: -15px * $x-multiplier;
	margin-bottom: 15px * $y-multiplier;
}


#virtualMechanic div.dialog div.window div.content.systemStatus div.statusArrow div.statusItem,
#virtualMechanic div.dialog div.window div.content.systemStatus div.statusBoxLarge div.statusItem
{
	height: 24px * $y-multiplier;
	color: $text-color;
	text-shadow: none;
	font-size: 110%;
	line-height: 24px * $y-multiplier;
	margin: 0 0 (3px * $y-multiplier) 0;
}
#virtualMechanic div.dialog div.window div.content.systemStatus div.statusBoxLarge div.statusItem { line-height: 18px * $y-multiplier; height: 48px * $y-multiplier; }

#virtualMechanic div.dialog div.window div.content.systemStatus div.statusArrow div.statusItem div.statusText,
#virtualMechanic div.dialog div.window div.content.systemStatus div.statusBoxLarge div.statusItem div.statusText { font-weight: bold; }

#virtualMechanic div.dialog div.window div.content.systemStatus div.statusArrow div.statusItem div.icon,
#virtualMechanic div.dialog div.window div.content.systemStatus div.statusBoxLarge div.statusItem div.icon
{
	float: left;
	width: 24px * $x-multiplier;
	height: 24px * $y-multiplier;
	margin-right: 10px * $x-multiplier;
	background: no-repeat 0px 0px;
}
#virtualMechanic div.dialog div.window div.content.systemStatus div.statusBoxLarge div.statusItem div.icon { height: 36px * $y-multiplier; background-position: 0px 50%; }

/* Custom styling for electrical system status item display */
#virtualMechanic div.dialog div.window div.content.systemStatus.electrical div.statusArrow div.statusItem { line-height: 20px * $y-multiplier; height: 100%; padding-top: 6px * $y-multiplier; }
#virtualMechanic div.dialog div.window div.content.systemStatus.electrical div.statusArrow div.statusItem div.statusText { font-size: 120%; }
#virtualMechanic div.dialog div.window div.content.systemStatus.electrical div.statusArrow div.statusItem div.icon { height: 100%; margin-top: -7px * $y-multiplier; background-position: 0px 50%; }

/* Positioning for the various front/rear left/right 'arrows' */
#virtualMechanic div.dialog div.window div.content.systemStatus.traction div.statusArrow.rear { left: 20px * $x-multiplier; }
#virtualMechanic div.dialog div.window div.content.systemStatus.traction div.statusArrow.left { top: 24px * $y-multiplier; }
#virtualMechanic div.dialog div.window div.content.systemStatus.traction div.statusArrow.right { bottom: 20px * $y-multiplier; }
#virtualMechanic div.dialog div.window div.content.systemStatus.traction div.statusArrow.front { right: 10px * $x-multiplier; }

#virtualMechanic div.dialog div.window div.content.systemStatus.braking div.statusArrow.rear { left: 40px * $x-multiplier; }
#virtualMechanic div.dialog div.window div.content.systemStatus.braking div.statusArrow.left { top: 33px * $y-multiplier; }
#virtualMechanic div.dialog div.window div.content.systemStatus.braking div.statusArrow.right { bottom: 32px * $y-multiplier; }
#virtualMechanic div.dialog div.window div.content.systemStatus.braking div.statusArrow.front { right: 25px * $x-multiplier; }

#virtualMechanic div.dialog div.window div.content.systemStatus.electrical div.statusArrow.rear { left: 0px * $x-multiplier; }
#virtualMechanic div.dialog div.window div.content.systemStatus.electrical div.statusArrow.left { top: 53px * $y-multiplier; }
#virtualMechanic div.dialog div.window div.content.systemStatus.electrical div.statusArrow.right { bottom: 53px * $y-multiplier; }
#virtualMechanic div.dialog div.window div.content.systemStatus.electrical div.statusArrow.front { right: 0px * $x-multiplier; }

#virtualMechanic div.dialog div.window div.content.systemStatus.powertrain div.statusBoxLarge.rear { left: 10px * $x-multiplier; top: 38px * $y-multiplier; }
#virtualMechanic div.dialog div.window div.content.systemStatus.powertrain div.statusBoxLarge.front { right: 10px * $x-multiplier; top: 38px * $y-multiplier; }

/* Braking System ABS Switch */
#virtualMechanic div.dialog div.window div.content.systemStatus.braking div.absSwitch
{
	position: absolute;
	left: 50%;
	margin-left: -143px * $x-multiplier;
	top: 50%;
	margin-top: -31px * $y-multiplier;
	width: 286px * $x-multiplier;
	height: 61px * $y-multiplier;
	background: no-repeat 0% 0%;
	background-size: 100% 100%;
	color: $text-color;
	text-shadow: none;
	font-size: 120%;
	padding-left: 15px * $x-multiplier;
	line-height: 61px * $y-multiplier;
	text-transform: uppercase;
}
#virtualMechanic div.dialog div.window div.content.systemStatus.braking div.absSwitch div.btnBase
{
	float: right;
	position: relative;
	right: 5px * $x-multiplier; 
	width: 150px * $x-multiplier;
	height: 60px * $y-multiplier;
	background: no-repeat 0% 0%;
	background-size: 100% 100%;
	cursor: pointer;
}
#virtualMechanic div.dialog div.window div.content.systemStatus.braking div.absSwitch div.btnBase div.btn
{
	position: absolute;
	left: 5px * $x-multiplier;
	right: 10px * $x-multiplier; 
	width: 75px * $x-multiplier;
	height: 60px * $y-multiplier;
	background: no-repeat 0% 0%;
	background-size: 200% 100%;
	
	-webkit-transition: -webkit-transform 0.25s ease-out;
}
#virtualMechanic div.dialog div.window div.content.systemStatus.braking div.absSwitch div.btnBase div.btn.on { background-position: 0% 0%; }
#virtualMechanic div.dialog div.window div.content.systemStatus.braking div.absSwitch div.btnBase div.btn.off { -webkit-transform: translate3d((67px * $x-multiplier), 0px, 0px); background-position: 100% 0%; }

/* Powertrain System Current Gear */
#virtualMechanic div.currentGear
{
	position: absolute;
	left: 50%;
	margin-left: -65px * $x-multiplier;
	top: 50%;
	margin-top: -65px * $y-multiplier;
	width: 130px * $x-multiplier;
	height: 130px * $y-multiplier;
	background: no-repeat 0% 0%;
	background-size: 1100% 100%;
}

#virtualMechanic div.currentGear.park { background-position: 0% 0%; }
#virtualMechanic div.currentGear.neutral { background-position: 10% 0%; }
#virtualMechanic div.currentGear.reverse { background-position: 20% 0%; }
#virtualMechanic div.currentGear.drive { background-position: 30% 0%; }
#virtualMechanic div.currentGear.first { background-position: 40% 0%; }
#virtualMechanic div.currentGear.second { background-position: 50% 0%; }
#virtualMechanic div.currentGear.third { background-position: 60% 0%; }
#virtualMechanic div.currentGear.fourth { background-position: 70% 0%; }
#virtualMechanic div.currentGear.fifth { background-position: 80% 0%; }
#virtualMechanic div.currentGear.sixth { background-position: 90% 0%; }
#virtualMechanic div.currentGear.seventh { background-position: 100% 0%; }

/* Vehicle Statistics */
#virtualMechanic div.dialog div.window div.content.vehicleStats { text-align: center; }
#virtualMechanic div.dialog div.window div.content.vehicleStats div.stat
{
	display: inline-block;
	width: 126px * $x-multiplier;
	margin: (15px * $y-multiplier) (5px * $x-multiplier) 0px (5px * $x-multiplier);
	vertical-align: top;
}
#virtualMechanic div.dialog div.window div.content.vehicleStats div.stat div.title
{
	width: 100%;
	height: 45px * $y-multiplier;
	
	font-size: 100%;
	color: $text-color;
	text-transform: uppercase;
}
#virtualMechanic div.dialog div.window div.content.vehicleStats div.stat div.icon
{
	width: 100%;
	height: 110px * $y-multiplier;
	margin: (5px * $y-multiplier) 0px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

#virtualMechanic div.dialog div.window div.content.vehicleStats div.stat div.data
{
	width: 100%;
	font-size: 95%;
	color: $text-color;
	height: 40px * $y-multiplier;
}

#virtualMechanic div.btnDef
{
	width: 126px * $x-multiplier;
	height: 56px * $y-multiplier;
	font-size:110%;
	color: $button-text-color;
	text-shadow: none;
	text-transform: uppercase;
	line-height: 56px * $y-multiplier;
	background: no-repeat 0% 0%;
	background-size: 200% 200%;
	cursor: pointer;
}
#virtualMechanic div.btnDef:active { color: $active-button-text-color; background-position: 100% 0%; }
#virtualMechanic div.btnDef.cancel { background-position: 0% 100%; }
#virtualMechanic div.btnDef.cancel:active { background-position: 100% 100%; }
#virtualMechanic div.btnDef.disabled { color: $active-button-text-color; cursor: default; background-position: 0% 100%; }
#virtualMechanic div.btnDef.disabled:active { background-position: 0% 100%; }


/* Virtual Mechanic */
#virtualMechanic
{
	background-image: $virtual-mechanic-bg, $background;
}

#virtualMechanic div.systemStatusButtons div.button
{
	background-image: $virtual-mechanic-btn-vehicle-status;
}

#virtualMechanic div.icon.fluid { background-image: $virtual-mechanic-icon-fluid; }
#virtualMechanic div.icon.traction { background-image: $virtual-mechanic-icon-traction; }
#virtualMechanic div.icon.braking { background-image: $virtual-mechanic-icon-braking; }
#virtualMechanic div.icon.powertrain { background-image: $virtual-mechanic-icon-powertrain; }
#virtualMechanic div.icon.electric { background-image: $virtual-mechanic-icon-electric; }
#virtualMechanic div.icon.fluid { background-image: $virtual-mechanic-icon-fluid; }
#virtualMechanic div.icon.stats { background-image: $virtual-mechanic-icon-stats; }
#virtualMechanic div.icon.calendar { background-image: $virtual-mechanic-icon-calendar; }
#virtualMechanic div.icon.ok { background-image: $virtual-mechanic-icon-ok; }
#virtualMechanic div.icon.caution { background-image: $virtual-mechanic-icon-caution; }

#virtualMechanic div.fuelGauge
{
	background-image: $virtual-mechanic-fuel-bar;
}
#virtualMechanic div.statsMaintenanceButtons div.button
{
	background-image: $virtual-mechanic-btn-vehicle-stats-maint;
}

#virtualMechanic div.dialog div.window
{
	background-image: $virtual-mechanic-dialog-bg;
}
#virtualMechanic div.dialog div.window div.titleBar div.btnClose
{
	background-image: $virtual-mechanic-btn-dialog-close;
}

#virtualMechanic div.dialog div.window div.content.fluidLevels div.fluidGauge div.display
{
	background-image: $virtual-mechanic-fluid-bar-blk;
}
#virtualMechanic div.dialog div.window div.content.fluidLevels div.fluidGauge div.statusIcon
{
	background-image: $virtual-mechanic-icon-ok;
}

/* Warning statuses */
#virtualMechanic div.dialog div.window div.content.fluidLevels div.fluidGauge.caution div.statusIcon,
#virtualMechanic div.dialog div.window div.content.fluidLevels div.fluidGauge.alert div.statusIcon { background-image: $virtual-mechanic-icon-caution; }

/* System Status dialogs */
#virtualMechanic div.dialog div.window div.content.systemStatus.traction { background-image: $virtual-mechanic-traction-bg; }
#virtualMechanic div.dialog div.window div.content.systemStatus.braking { background-image: $virtual-mechanic-braking-bg; }
#virtualMechanic div.dialog div.window div.content.systemStatus.powertrain { background-image: $virtual-mechanic-powertrain-bg; }
#virtualMechanic div.dialog div.window div.content.systemStatus.electrical { background-image: $virtual-mechanic-electrical-bg; }

/* Small status arrows */
#virtualMechanic div.dialog div.window div.content.systemStatus div.statusArrow.rear { background-image: $virtual-mechanic-status-arrow-L; }
#virtualMechanic div.dialog div.window div.content.systemStatus div.statusArrow.front { background-image: $virtual-mechanic-status-arrow-R; }

/* Large status arrows (powertrain) */
#virtualMechanic div.dialog div.window div.content.systemStatus div.statusBoxLarge { background-image: $virtual-mechanic-status-box-large; }

#virtualMechanic div.dialog div.window div.content.systemStatus div.statusArrow div.statusItem div.icon,
#virtualMechanic div.dialog div.window div.content.systemStatus div.statusBoxLarge div.statusItem div.icon
{
	background-image: $virtual-mechanic-icon-ok;
}
#virtualMechanic div.dialog div.window div.content.systemStatus div.statusArrow div.statusItem.caution div.icon,
#virtualMechanic div.dialog div.window div.content.systemStatus div.statusArrow div.statusItem.alert div.icon,
#virtualMechanic div.dialog div.window div.content.systemStatus div.statusBoxLarge div.statusItem.caution div.icon,
#virtualMechanic div.dialog div.window div.content.systemStatus div.statusBoxLarge div.statusItem.alert div.icon {
	background-image: $virtual-mechanic-icon-caution;
}

/* Braking System ABS Switch */
#virtualMechanic div.dialog div.window div.content.systemStatus.braking div.absSwitch
{
	background-image: $virtual-mechanic-abs-switch;
}
#virtualMechanic div.dialog div.window div.content.systemStatus.braking div.absSwitch div.btnBase
{
	background-image: $virtual-mechanic-abs-switch-base;
}
#virtualMechanic div.dialog div.window div.content.systemStatus.braking div.absSwitch div.btnBase div.btn
{
	background-image: $virtual-mechanic-btn-abs-switch;
}

/* Powertrain System Current Gear */
#virtualMechanic div.currentGear
{
	background-image: $virtual-mechanic-current-gear;
}

/* Vehicle Statistics */
#virtualMechanic div.dialog div.window div.content.vehicleStats div.stat.departureTime div.icon { background-image: $virtual-mechanic-stat-depart; }
#virtualMechanic div.dialog div.window div.content.vehicleStats div.stat.tripDuration div.icon { background-image: $virtual-mechanic-stat-trip-dur; }
#virtualMechanic div.dialog div.window div.content.vehicleStats div.stat.mileage div.icon { background-image: $virtual-mechanic-stat-milage; }
#virtualMechanic div.dialog div.window div.content.vehicleStats div.stat.distanceTraveled div.icon { background-image: $virtual-mechanic-stat-distance; }
#virtualMechanic div.dialog div.window div.content.vehicleStats div.stat.avgSpeed div.icon { background-image: $virtual-mechanic-stat-avg-speed; }

#virtualMechanic div.btnDef
{
	background-image: $virtual-mechanic-btn-def;
}