/* Multipliers */
$x-multiplier: 1280 / 800;
$y-multiplier: 720 / 480;

/*Multiplier for the fonts since using the resolution ratios doesn't quite work*/
$font-multiplier: 1.25;

$img-dir: $app-dir + '/1280x720/img';
$theme-common-img-dir: $theme-dir + '/common/800x480/img'; 
