/* base class for any sheet in Settings */
.def_sheet {
  -webkit-transition: all 0.5s;
  background-color: transparent;
}

/* Base classes for buttons */
.def_button {
	color: #000;
	background-size: 126px 56px;
	height: 56px;
	width: 126px;
}

.def_button:active {
	color: #51c7e9;
}

.def_button.active {
	color: #51c7e9;
}

/** Sencha overrides */

.x-button,.x-button-pressed {
	border: none !important;
	background-color: transparent !important;
	-webkit-box-shadow: none !important;
	-webkit-border-radius: 0px !important;
}

.x-button.x-item-disabled {
	opacity: 0.4;
	pointer-events: none;
}

.x-button.button-large {
	border-radius: 5px;
	width: 140px;
	height: 50px;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	color: #000;
}

.x-button.button-large:active {
	color: #fff;
}