/* $Id:$ */

$color-btn2-background: #333333;
$color-btn2-border: #999999;
$color-btn2-background-on: #555555;
$color-btn2-border-on: #999999;
$color-modal-controls-border: #999999;
$color-station-border-top: #333333;
$color-station-border-bottom: #999999;
$color-keypad-key-border-top: #666666;
$color-keypad-key-border-bottom: #111111;
$color-station-scroll-track: #333333;
$color-station-scroll-drag: #999999;