/* Home Screen */

$tab-voice: 			url("#{$img-dir}/voice.png");
$tab-home: 				url("#{$img-dir}/home.png");
$tab-navigation: 		url("#{$img-dir}/nav.png");
$tab-mediaplayer: 		url("#{$img-dir}/media.png");
$tab-carcontrol: 		url("#{$img-dir}/car.png");
$tab-communication: 	url("#{$img-dir}/comm.png");
$tab-appsection: 		url("#{$img-dir}/apps.png");
