$keyboardTap:			rgba(255,255,255,0.5);

$specialBackground:		-webkit-linear-gradient(top, gray 26%, #555555 68%, #3c3c3c 87%);
$letterBackground:		-webkit-linear-gradient(bottom, #fcfcfc 30%, #757575 100%);
$serviceBackground:		-webkit-linear-gradient(top, #bdbdbd 30%, #242427 100%);
$numberBackground:		-webkit-linear-gradient(bottom, #8b8b8b 26%, #616161 68%, #747474 87%);
$containerBackground:	-webkit-linear-gradient(bottom, #15151f 0%, #3a3a3a 50%, #242427 100%);
$activeBackground:		-webkit-linear-gradient(bottom, #fff 0%, #fff 100%);
