<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" 
        xmlns:rim="http://www.blackberry.com/ns/widgets" 
        version="1.0.0.5" id="navigation" xml:lang="en">
	<author href="http://www.qnx.com/" rim:copyright="Copyright 2012 QNX Software Systems Limited">QNX Software Systems Limited</author>
	<name>Navigation</name>
	<rim:category name="system"/>
	<rim:permissions>
		<rim:permit>access_shared</rim:permit>
	</rim:permissions>
	<access uri="*" />
	<access uri="file:///" />
	<content src="index.html"/>
	<feature id="car.navigation" required="true" version="1.0.0.0"/>
	<feature id="car.profile" required="true" version="1.0.0.0"/>
	<feature id="car.theme" required="true" version="1.0.0.0"/>
	<feature id="qnx.application.event" required="true" version="1.0.0.0"/>
</widget>