/* $Id:$ */

$status-background: 					url("#{$img-dir}/status_bar.png");
$status-logo:							url("#{$img-dir}/qnx_logo.png");
$phone-service-icon:					url("#{$img-dir}/call_active.png");
$bluetooth-service-icon:				url("#{$img-dir}/bt_stat.png");
$bluetooth-sync-icon:					url("#{$img-dir}/bt_sync.png");
$wifi-service-icon:						url("#{$img-dir}/wifi_stat.png");
$device-service-icon:					url("#{$img-dir}/devices_stat.png");
$volume-stat-icon:						url("#{$img-dir}/vol_stat.png");
$volume-level-icon:						url("#{$img-dir}/vol.png");
