/* $Id:$ */

$gradient-progress-bar: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#231f20), color-stop(30%,#303232), color-stop(100%,#000000));
$gradient-progress-bar-status: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dedfe0), color-stop(34%,#87888b), color-stop(50%,#d8d9da), color-stop(100%,#919394));
$gradient-station-selected: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#999999));
$gradient-keypad-btn: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333333), to(#999999));